body {
  font-family: Comic Sans MS;
  background: linear-gradient(
    to left, 
    white 0%,
    white 50%,
    black 0%,
    black 50%
  );
  color: green;
}

h1{
  font-family: Comic Sans MS;
}

.mar {
  margin: 30px;
}

.red {
  color: red;
}

.red2{
  color: red;
  text-align: right;
}

.fil{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid green;
}

.td {
  text-align: left;
  width: 50%;
}
